* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 48px;
}

.header {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h1 {
  font-size: 48px;
}

.add-book {
  border: none;
  background-color: aquamarine;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 16px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  overflow-y: auto;
}

.card {
  padding: 24px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: white;
  border-radius: 16px;
}

.buttons {
  display: flex;
  gap: 12px;
}

.read-indicator {
  border-radius: 16px;
  padding: 12px;
  background-color: rgb(227, 227, 227);
  width: fit-content;
  display: flex;
  align-items: center;
}

.read-indicator::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 10px;
  margin-right: 8px;
}

.read .read-indicator {
  background-color: aquamarine;
}

.read .read-indicator::before {
  background-color: rgb(0, 75, 50);
}

.buttons button {
  background-color: rgb(227, 227, 227);
  padding: 12px;
  border: none;
  border-radius: 16px;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 16px;
}

form {
  padding: 24px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  position: relative;
}

form input[type="text"],
form input[type="number"] {
  padding: 5px;
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  display: block;
}

form button[type="submit"] {
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  font-size: inherit;
  font-family: inherit;
}

form button[type="button"] {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: none;
}

form svg {
  width: 24px;
  pointer-events: none;
}
