* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 48px;
}

.header {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h1 {
  font-size: 48px;
}

.add-book {
  border: none;
  background-color: aquamarine;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 16px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.card {
  padding: 24px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: white;
  border-radius: 16px;
}

.buttons {
  display: flex;
  gap: 12px;
}

.read-indicator {
  border-radius: 16px;
  padding: 12px;
  background-color: aquamarine;
  width: fit-content;
  display: flex;
  align-items: center;
}

.read-indicator::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: rgb(0, 75, 50);
  margin-right: 8px;
}

.buttons button {
  padding: 12px;
  border: none;
  border-radius: 16px;
}
